<div class="home__header">
  <div class="home__header__left">
    <img mat-card-avatar src="assets/fb-head.jpg" />
    <div class="input">
      <mat-icon class="search-icon">search_outline</mat-icon>
      <form [formGroup]="searchForm">
        <input
          placeholder="Search Facebook"
          type="text"
          formControlName="searchText"
        />
      </form>
    </div>
  </div>
  <div class="home__header__middle">
    <div class="active">
      <mat-icon>home</mat-icon>
    </div>
    <div>
      <mat-icon>ondemand_video</mat-icon>
    </div>
    <div>
      <mat-icon>store</mat-icon>
    </div>
    <div>
      <mat-icon>group</mat-icon>
    </div>
    <div>
      <mat-icon>flag</mat-icon>
    </div>
  </div>
  <div class="home__header__right">
    <div>
      <img class="user-avatar" alt="" mat-card-avatar [src]="user?.avatar" />
      <span class="name">{{ user?.firstName || "Indranil" }}</span>
    </div>
    <div>
      <mat-icon>add</mat-icon>
    </div>

    <div>
      <mat-icon
        matBadge="4"
        matBadgeColor="primary"
        matBadgeOverlap="false"
        matBadgePosition="above after"
      >
        forum
      </mat-icon>
    </div>

    <div>
      <mat-icon matBadge="3" matBadgeColor="warn" matBadgeOverlap="false"
        >notifications
      </mat-icon>
    </div>

    <div>
      <mat-icon
        matBadge="3"
        matBadgeColor="warn"
        matBadgeOverlap="false"
        (click)="logout()"
        >exit_to_app</mat-icon
      >
    </div>
  </div>
</div>
