<section class="register">
  <div class="header">
    <h3>Sign Up</h3>
    <p>It's quick and easy</p>
  </div>

  <div class="body">
    <form [formGroup]="form">
      <div class="user_name">
        <input type="text" placeholder="FirstName" name="fname" />
        <input type="text" placeholder="LastName" name="lname" />
      </div>

      <div class="email_password">
        <input type="text" placeholder="Email" name="email" />
        <input type="text" placeholder="Image Url" name="avatar" />
        <input type="password" placeholder="Password" name="password" />
      </div>

      <p>
        By clicking Sign Up, you agree to our Terms, Data Policy and Cookie
        Policy. You may receive SMS notifications from us and can opt out at any
        time.
      </p>

      <button
        type="submit"
        class="submit-button"
        [mat-dialog-close]="form.value"
      >
        Sign Up
      </button>
    </form>
  </div>
</section>
