<app-spinner *ngIf="authLoading; else auth"></app-spinner>
<ng-template #auth>
<app-header></app-header>
<div class="home__body">
    <div class="home__body__sidebarLeft">
      <div class="inside">
        <div class="user-avatar">
          <img alt="" mat-card-avatar src="{{ user?.avatar }}" />
          <span class="name"
            >{{ user?.firstName || "Indranil" }} {{ user?.lastName }}</span
          >
        </div>
        <div>
          <mat-icon> local_hospital</mat-icon>
          <span class="covid">COVID-19 Information Center</span>
        </div>
  
        <div>
          <mat-icon>flag</mat-icon>
          <span>Pages</span>
        </div>
  
        <div>
          <mat-icon>people</mat-icon>
          <span>Friends</span>
        </div>
  
        <div>
          <mat-icon> chat</mat-icon>
          <span>Messenger</span>
        </div>
  
        <div>
          <mat-icon>store</mat-icon>
          <span>Marketplace</span>
        </div>
  
        <div>
          <mat-icon>video_library</mat-icon>
          <span>Videos</span>
        </div>
  
        <div>
          <mat-icon class="see-more">expand_more</mat-icon>
          <span>See More</span>
        </div>
      </div>
    </div>
  
    <div class="home__body__contentMiddle">
      
      <div class="home__body__contentMiddle__top">
        <app-spinner *ngIf="storiesLoading; else _stories"></app-spinner>
        <!--IMAGE CARDS-->
        <ng-template #_stories>
          <mat-card *ngFor="let story of stories" class="image-card">
            <img alt="bg" class="bg" [src]="story.image" />
            <mat-card-content>
              <img alt="avatar" class="avatar" [src]="story.avatar" />
              <span class="card-name">Indranil Mukherjee</span>
            </mat-card-content>
          </mat-card>
        </ng-template>
  
      </div>
  
      <div class="home__body__contentMiddle__center">
        <app-spinner *ngIf="postsLoading;else _posts"></app-spinner>
  
        <ng-template #_posts>
          <mat-card class="post-message">
            <mat-card-header
              class="post-message-header"
              style="padding-bottom: 20px; border-bottom: 1px solid lightgray"
            >
              <img alt="" mat-card-avatar [src]="user?.avatar" />
              <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
                <input
                  class="on-your-mind"
                  name="message"
                  placeholder="What's on your mind?"
                  type="text"
                  formControlName="message"
                />
                <button style="display: none" type="submit"></button>
              </form>
            </mat-card-header>
            <mat-card-content class="card-body">
              <div>
                <mat-icon color="accent">videocam</mat-icon>
                <span>Live Video</span>
              </div>
    
              <div>
                <mat-icon color="primary">photo_album</mat-icon>
                <span>Photo/Video</span>
              </div>
    
              <div>
                <mat-icon color="warn">mood</mat-icon>
                <span>Feeling/Activity</span>
              </div>
            </mat-card-content>
          </mat-card>
    
          <!--Loop Through All Posts From Database and Display-->
            <mat-card *ngFor="let p of posts" class="posts">
              <mat-card-header class="posts__header">
                <img alt="{{ p?.title }}" mat-card-avatar [src]="p?.avatar" />
                <div class="posts__header__right">
                  <h3>{{ p?.title }}</h3>
                </div>
              </mat-card-header>
              <mat-card-content class="posts__body">
                <p>{{ p?.message }}</p>
              </mat-card-content>
            </mat-card>
        </ng-template>
  
  
      </div>
    </div>
  
    <div class="home__body__feedRight">
      <div class="inside">
        <img alt="feed" src="assets/feed.jpg" />
      </div>
    </div>
    
    
  </div>
  
</ng-template>