.home__body {
  background-color: #f0f2f5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-start;

  .text-center {
    text-align: center;
  }

  //BODY SIDEBAR

  &__sidebarLeft {
    position: relative;

    .inside {
      padding: 15px;
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .user-avatar {
        display: flex;
        align-items: center;
        gap: 15px;

        span.name {
          font-size: 16px;
        }
      }

      div {
        display: flex;
        gap: 20px;
        font-size: 16px;
        align-items: center;

        mat-icon {
          color: #1877f2;
          font-size: xx-large;
          width: fit-content;
          height: fit-content;
        }

        mat-icon.see-more {
          color: #828890 !important;
          padding: 5px;
          border-radius: 50%;
          background-color: #e4e6eb;
        }

        &:last-of-type {
          border-bottom: 1px solid lightgray;
          padding-bottom: 20px;
        }
      }
    }
  }

  // BODY CONTENT

  &__contentMiddle {
    display: flex;
    flex-direction: column;
    width: 46.33%;
    &__top {
      display: flex;
      min-height: 130px;
      position: relative;
      justify-content: space-around;
      align-items: center;

      .icon-back {
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #e4e6eb;
        height: 45px;
        width: 45px;
        position: absolute;
        top: 39%;
        right: -16px;
        box-shadow: 3px 2px 5px #d6d6d6;
      }

      .image-card {
        width: 120px;
        height: 200px;
        border-radius: 20px;
        position: relative;
        z-index: 0;

        &:hover {
          img.bg {
            transform: scale(1.06);
          }
        }

        span {
          font-size: 15px;
          font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial,
            sans-serif;
          line-height: 1.2;
          position: absolute;
          bottom: 10px;
          left: 5px;
          color: white;
          font-weight: 600;
          padding: 5px;
        }

        img.bg {
          max-width: 100%;
          object-fit: cover;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 20px;
          transition: all 0.3s ease;
          cursor: pointer;
        }

        img.avatar {
          width: 40px;
          border-radius: 50%;
          color: white;
          z-index: 99;
          position: absolute;
          top: 10px;
          left: 10px;
          padding: 1px;
          border: 3px solid dodgerblue;
        }
      }
    }

    &__center {
      padding: 0 10px;
      min-height: 130px;
      position: relative;
      width: 100%;
      align-self: center;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      mat-card.post-message {
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        background-color: #fff;

        .post-message-header {
          width: 100%;
          display: flex;
          align-items: center;

          form {
            flex: 1;
          }

          form > input.on-your-mind {
            background-color: #f0f2f5;
            display: inline-block;
            outline: none;
            border: none;
            padding: 10px 20px;
            border-radius: 20px;
            width: 100%;
          }
        }

        .card-body {
          align-self: center;
          display: flex;
          justify-content: space-between;
          padding: 10px 0px;
          width: 90%;
          margin-top: 10px;
          align-items: center;

          div {
            display: flex;
            align-items: center;
            height: 100%;
            gap: 15px;
          }
        }
      }

      mat-card.posts {
        background-color: #fff;
        .posts__header {
          display: flex;
          align-items: center;
          .posts__header__right {
            display: flex;
            flex-direction: column-reverse;

            h3 {
              font-weight: 600;
              font-size: 15px;
              text-transform: capitalize;
              margin: 0;
            }
          }
        }

        .posts__body {
          margin-top: 10px;
        }
      }
    }
  }

  // BODY FEED
  &__feedRight {
    position: relative;
    align-self: flex-start;

    .inside {
      display: flex;
      height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
